*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

html,body{
    height: 100vh;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(red, violet);
}
.conteiner {
    display: flex;
    /*serve para flexionar o elementos e por eles centralizadoss na vertical*/
    justify-content: center;
    align-items: center;
    /*alinha os elementos no centro*/
    height: 100vh;
    /*altura da janela do navegado*/

}

.container{
     max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    margin: 0 auto;
    gap: 5px;
}
 .container h1{
    text-align: center;
    font-weight: bold;
    margin: 0;
    font-size: 48px;
    color: blueviolet;


}
.container h2{
    text-align: center;
    font-weight: bold;
    margin: 10px 0;
    font-size: 48px;
    color: chocolate;
    font-size: 15px;
    font-style: italic;
}
button{

 width: 60%;
    height: 60px;
    background: linear-gradient(rgb(211, 18, 218), rgb(235, 11, 198), rgb(238, 20, 155));
    border: none;
    border-radius:15px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    animation: alternate;
}
.container a{
    display: block;
    text-align: center;
    font-weight: bold;
    margin: 5px 0;
    font-size: 28px;
    color: rgb(145, 64, 221);
    font-size: 20px;
    text-decoration: none;
   
}

.container a :hover{
    
    color: rgb(23, 206, 120);
    
}