*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

html,body{
    height: 100vh;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(red, violet);
}
.conteiner {
    display: flex;
    /*serve para flexionar o elementos e por eles centralizadoss na vertical*/
    justify-content: center;
    align-items: center;
    /*alinha os elementos no centro*/
    height: 100vh;
    /*altura da janela do navegado*/

}

.container{
     max-width: 640px;
    display: flex;
    flex-direction: column;/*empilha os elementos*/
    justify-content: center;
    align-items: center;
    height: 60vh;
    margin: 0 auto;
    gap: 15px;/*espaco estre os elementros*/
}

 .container h1{
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
    font-size: 48px;
    color: blueviolet;


}
 input[type="text"]
 {
    width: 300px;
    height: 40px;
    padding: 10px;
    margin-top: 10px;
    margin-buttom: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 1em;
}
button[type="submit"]{
    width: 50%;
    height: 60px;
    background: linear-gradient(rgb(211, 18, 218), rgb(235, 11, 198), rgb(238, 20, 155));
    border: none;
    border-radius: 15px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    animation: alternate;   
}

button[type="submit"]:hover{
    background:linear-gradient(silver,rgb(231, 139, 231),rgb(164, 255, 255));
    border-radius: 7.5px;
}